html,body{
    height: 100%;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    /* padding: 0; */
    line-height: 1.8em;
    color: #666;
}
.img1{
    background-image: url(img1.jpg);
    min-height: 100%;
}
.img2{
    background-image: url(img2.jpg);
    min-height: 400px;
}
.img3{
    background-image: url(img3.jpg);
    min-height: 400px;
}
.img1,.img2,.img3{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 27px;

}
.txtbg{
    background-color: #666;
    color: white;
    padding: 20px;
    font-weight: 600;
}
.one{
    padding: 50px 80px;
    text-align: center;
    
}
.one-light{
    background-color: #f4f4f4;
    color: #666;
}
.one-dark{
    background-color: #282e34;
    color: #ddd;
}
